## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Log files
*.log
run.err.log
run.out.log

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS Generated
.DS_Store
Thumbs.db
